body{
    margin: 0 ;
    display: flex;
    align-items: center;
    flex-direction: column ;
    height: 100vh ;
    justify-content: center ;
    background:url("https://plus.unsplash.com/premium_photo-1688472613238-6a01b2f6800e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover ;
    overflow: hidden;

}
h2{
    text-transform: uppercase;
    letter-spacing: 4px ;
    font-size: 25px ;
    text-align: center ;
    color: black;
}
.clock{
    display: flex;
    position: relative;
}
.clock div{
    margin: 5px ;
}
.clock span{
    width: 100px ;
    height: 80px ;
    background: slateblue ;
    color: white ;
    opacity: 0.8 ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    font-size: 50px ;
    text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text{
   height: 30px ;
   font-size: 10px ;
   text-transform: uppercase ;
   letter-spacing: 2px ;
   background-color: darkblue ;
   opacity: 0.8 ;
}
.clock #ampm{
    position: absolute ;
    background: green ;
    font-size: 20px ;
    bottom: 0 ;
    width: 60px ;
    height: 30px ;
    text-transform: uppercase;

}
